body {
    background-color: var(--color-accent);
}

.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100dvh;
    background: url('../../../../images/pages/contato/map.webp') no-repeat center center/cover;
    background-blend-mode: multiply;
    background-color: rgba(var(--color-accent--rgb), .8);
    padding: 20px;
    gap: 1rem;
}

.logo-contact {
    display: flex;
    align-items: start;
    height: 120px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-block: 1.5rem;
    gap: 1rem;
    text-align: center;
}

.contact-info h1 {
    font-size: 1.8em;
}

.contact-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-nav span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.social-icons {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.icons-group {
    display: flex;
    flex-direction: row;
}

.social-icons span {
    margin: 5px;
    border-radius: 50%;
    padding: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.qr-code {
    margin: 2rem;
    text-align: center;
    display: block;
}

.qr-code img {
    width: 300px;
    aspect-ratio: 1/1;
}

.qr-code-res {
    margin: 1.5rem;
    text-align: center;
    display: none;
}

.qr-code-res img {
    width: 250px;
    aspect-ratio: 1/1;
}

@media (max-width: 780px) {
    .qr-code-res {
        display: block;
    }

    .qr-code {
        display: none;
    }

    .logo-contact img {
        height: 100px;
    }

    .contact-info h1 {
        font-size: 1.8em;
    }

    .contact-container {
        flex-direction: column;
        justify-content: center;
    }

    .contact-info,
    .qr-code {
        margin: 1rem;
    }
}

@media (max-width: 640px) {
    .qr-code-res img {
        width: 243px;
    }
}

@media (prefers-color-scheme: light) {
    .social-icons span {
        background-color: var(--color-gray-800);
    }

    .social-icons span svg path {
        fill: var(--color-gray-100);
    }

    .social-icons span #insta-logo path {
        fill: transparent;
        stroke: var(--color-gray-100);
    }
}

@media (prefers-color-scheme: dark) {
    .contact-container {
        background-color: var(--color-primary);
    }

    body {
        background-color: var(--color-primary);
    }

    .social-icons span {
        background-color: var(--color-gray-200);
    }

    .social-icons span svg path {
        fill: var(--color-gray-800);
    }

    .social-icons span #insta-logo path {
        fill: transparent;
        stroke: var(--color-gray-800);
    }
}
