.btn {
    text-decoration: none;
    padding: 1rem .25rem;
    border-radius: 0.625rem;
    transition: all .3s ease-in-out;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: initial;
    display: flex;
    justify-self: start;
    align-items: center;
    gap: 1rem;
}

@media (prefers-color-scheme: light) {
    .btn {
        color: var(--color-gray-700);
    }

    .btn:hover,
    .btn.ativo {
        color: var(--color-gray-900);
    }
}

@media (prefers-color-scheme: dark) {
    .btn {
        color: var(--color-gray-300);
    }

    .btn:hover,
    .btn.ativo {
        color: var(--color-gray-100);
    }
}

.btn.primary {
    padding: 1rem;
}

@media (prefers-color-scheme: light) {
    .btn.primary {
        background-color: var(--color-accent);
    }

    .btn.primary:hover {
        background-color: color-mix(in srgb, var(--color-accent) 100%, var(--color-gray-100) 20%);
        color: color-mix(in srgb, var(--color-gray-700) 100%, var(--color-gray-100) 20%);
    }
}

@media (prefers-color-scheme: dark) {
    .btn.primary {
        background-color: var(--color-primary);
    }

    .btn.primary:hover {
        background-color: color-mix(in srgb, var(--color-primary) 100%, var(--color-gray-900) 20%);
        color: color-mix(in srgb, var(--color-gray-300) 100%, var(--color-gray-900) 20%);
    }
}
