.carousel-container {
    width: 100%;
    position: relative;
}

.carousel-container .prev-button,
.carousel-container .next-button {
    display: none;
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    top: 50%;
    cursor: pointer;
    z-index: 1;
    user-select: none;
}

.carousel-container.desativado .prev-button,
.carousel-container.desativado .next-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container.desativado .prev-button {
    left: 0;
    transform: translate(-50%, -50%);
}

.carousel-container.desativado .next-button {
    right: 0;
    transform: translate(50%, -50%);
}

@media (prefers-color-scheme: light) {

    .carousel-container.desativado .prev-button,
    .carousel-container.desativado .next-button {
        background-color: var(--color-gray-200);
        color: var(--color-gray-300);
        stroke: var(--color-gray-300);
    }
}

@media (prefers-color-scheme: dark) {

    .carousel-container.desativado .prev-button,
    .carousel-container.desativado .next-button {
        background-color: var(--color-gray-800);
        color: var(--color-gray-700);
        stroke: var(--color-gray-700);
    }
}

.carousel {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding-block: 2rem;
}

.carousel .carousel-items {
    display: flex;
    gap: 2rem;
    position: relative;
}

/*
    === Devices Breakpoints ===
*/

@media screen and (max-width: 780px) {
    .carousel .carousel-items {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc(100vw - (2 * 2rem));
    }
}
