.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 2.625rem 10.25rem;
}

@media (prefers-color-scheme: light) {
    .footer {
        background-color: var(--color-gray-200);
    }
}

@media (prefers-color-scheme: dark) {
    .footer {
        background-color: var(--color-gray-800);
    }
}

/*
    === Devices Breakpoints ===
*/

@media screen and (max-width: 780px) {
    .footer {
        justify-content: center;
        flex-wrap: wrap;
        gap: 2.5rem;
    }
}
