.header {
    background-color: light-dark(rgba(var(--color-gray-100--rgb), .4), rgba(var(--color-gray-900--rgb), .4));
    backdrop-filter: blur(var(--blur-2xl));
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    z-index: 2;
}

.header svg {
    cursor: pointer;
}

.header .header-buttons,
.header .header-buttons #menu,
.header .divider {
    display: none;
}

.header .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2rem;
}

.header .menu a {
    text-decoration: none;
}

.header .menu .menu-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width: 780px) {
    .header {
        padding: 1rem 2rem;
    }

    .header .menu .menu-item .btn,
    .header .header-buttons #close-menu,
    .header .divider {
        display: none;
    }

    .header .header-buttons #menu {
        display: block;
    }

    .header.open {
        position: fixed;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        height: 100dvh;
    }

    .header.open .menu .menu-item .btn,
    .header.open .header-buttons,
    .header.open .divider {
        display: flex !important;
    }

    .header.open .header-buttons .mobile,
    .header.open .header-buttons #close-menu {
        display: block;
    }

    .header.open .menu .btn,
    .header.open .header-buttons #menu {
        display: none;
    }

    .header.open .menu,
    .header.open .menu .menu-item {
        flex-direction: column;
        width: 100%;
        padding: 1rem 0;
    }

    .header.open .menu .menu-item .btn {
        width: 100%;
    }

    .header.open .menu .menu-item .header-buttons {
        display: flex;
        gap: 2rem;
        padding-bottom: 2rem;
    }

    .header.open .divider {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 0.5rem;
        color: var(--color-gray-400);
        font-size: 10px;
    }

    .header.open .divider>.line {
        width: 100%;
        height: 1px;
        background-color: var(--color-gray-400);
    }

    .header.open .header-buttons {
        padding: 1.5rem 0 3rem 0;
    }

    @media (prefers-color-scheme: light) {
        .header.open .divider p {
            color: var(--color-gray-400);
        }

        .header.open .divider .line {
            background-color: var(--color-gray-400);
        }

        .header.open .mobile a {
            color: var(--color-accent);
        }
    }

    @media (prefers-color-scheme: dark) {
        .header.open .divider p {
            color: var(--color-gray-600);
        }

        .header.open .divider .line {
            background-color: var(--color-gray-600);
        }

        .header.open .mobile a {
            color: var(--color-primary);
        }
    }

    .header .header-buttons {
        display: block;
        align-items: center;
        gap: 1rem;
    }

    .header .header-buttons>.mobile {
        display: none;
    }

    .header .logo {
        display: none;
    }
}
