.depoiments {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--space-72), 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.depoiment-card {
    display: grid;
    gap: 1rem;
    border: 1px solid var(--color-gray-400);
    border-radius: 8px;
    padding: 1.5rem;
}

@media (prefers-color-scheme: light) {
    .depoiment-card q {
        color: var(--color-gray-600);
    }

    .depoiment-info h5 {
        color: var(--color-gray-700);
    }

    .depoiment-info small {
        color: var(--color-gray-600);
    }

    .depoiment-info img {
        background-color: var(--color-accent);
    }
}

@media (prefers-color-scheme: dark) {
    .depoiment-card q {
        color: var(--color-gray-400);
    }

    .depoiment-info h5 {
        color: var(--color-gray-300);
    }

    .depoiment-info small {
        color: var(--color-gray-400);
    }

    .depoiment-info img {
        background-color: var(--color-primary);
    }
}

.depoiment-info {
    display: flex;
    width: 100%;
    gap: 0.75rem;
}

.depoiment-info img {
    aspect-ratio: 1/1;
    border-radius: 50%;
}
