.main-background {
    background-repeat: no-repeat;
    background-size: cover;
}

@media (prefers-color-scheme: light) {
    .main-background {
        background-image: url("../../../../images/pages/index/main-bg-light.png");
    }
}

@media (prefers-color-scheme: dark) {
    .main-background {
        background-image: url("../../../../images/pages/index/main-bg-dark.png");
    }
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    position: relative;
    gap: 2rem;
}

.main-container .main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container .main-info h1,
.main-container .main-info p {
    text-wrap: balance;
}

.main-container .main-image {
    display: flex;
    align-items: flex-end;
}

@media (prefers-color-scheme: light) {
    .main-container .main-info p {
        color: var(--color-gray-700);
    }
}

@media (prefers-color-scheme: dark) {
    .main-container .main-info p {
        color: var(--color-gray-300);
    }
}

.main-mouse {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

@media (prefers-color-scheme: light) {
    .main-mouse svg {
        stroke: var(--color-gray-700);
    }
}

@media (prefers-color-scheme: dark) {
    .main-mouse svg {
        stroke: var(--color-gray-300);
    }
}

/*
    === Devices Breakpoints ===
*/

@media screen and (max-width: 780px) {
    .main-container {
        padding-top: 0;
        flex-direction: column;
    }

    .main-image {
        justify-content: flex-end;
    }

    .main-image img {
        width: 60%;
    }
}
