.boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--space-36), 1fr));
    align-items: flex-end;
    gap: 1rem;
}

.box {
    border: solid 0.5px;
    border-radius: 10px;
    padding: 1.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: default;
}

.box p {
    color: var(--color-gray-500);
}

@media (prefers-color-scheme: light) {
    .box {
        border-color: var(--color-gray-200);
    }
}

@media (prefers-color-scheme: dark) {
    .box {
        border-color: var(--color-gray-800);
    }
}

.everything {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2rem;
    gap: 2rem;
}

@media screen and (max-width: 780px) {
    .everything {
        flex-direction: column;
    }
}
